<div class="row">
  <div class="col-md-3">
    <table class="table">
      <tr>
        <th>name</th>
        <th>R</th>
        <th>rating</th>
        <th>D</th>
        <th>distance</th>
        <th>S</th>
        <th>score</th>
      </tr>
      <tr ng-repeat="m in map.markers">
        <td>{{m.name}}</td>
        <td>R</td>
        <td>{{m.rating}}</td>
        <td>D</td>
        <td>{{m.distance | roundFloat}}</td>
        <td>S</td>
        <td>{{m.score | roundFloat}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-9">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control">
      <ui-gmap-marker ng-repeat="m in map.markers" doCluster="true" chunk="5" models="map.markers" coords="m.coords" idkey="m.key" icon="m.icon">

        <ui-gmap-window show="m.show" ng-cloak>
          <div>
            <p>
              <b>{{m.name}}</b> R{{m.rating}} D{{m.distance | roundFloat}} S{{m.score | roundFloat}}
            </p>
          </div>
          </ui-gmap-windows>

          </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
</div>
</div>
